body {
  background-color: #E0FFFF;
}
.container {
  width: 800px;
  margin: 50px auto;
  padding: 20px;
  /* border: 2px solid red; */
  background-color: white;
  border-radius: 20px;
}
img{
  width: 200px;
  height: 200px;
  padding-left: 310px;
}
.form{
  padding-right: 500px;
  font-family: arial;
  font-size: 16px;
}
h2 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: brown;
}
.container div {
  text-align: center;
}
input {
  width: 250px;
  padding: 5px;
}
button {
  width: 90px;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  background-color: rgb(56, 99, 255);
  border: none;
  color: white;
  border-radius: 10px;
}

table td{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  table-layout: fixed;
  width: 800px;
  border: 1px solid black;
  border-collapse: collapse; /* CSS2 */
  background: #FFFFF0;
}

table th{
  border: 1px solid black;
    background: #F0FFF0;
    margin: 0 auto;
}